:root {
    --primary-color: #cccccc;
    --secondary-color: #999999;
    --tertiary-color: #333333;
    --background-color: #eeeeee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary-color)
  }

/* Styling the Header */
header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--tertiary-color);
    flex-wrap: nowrap;

}

header div {
    flex: 5;
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 38px;
}

header p {
    font-size: 20px;
    padding-top: 10px;
}

header ul {
    list-style: none;
    justify-content: center;
    text-align: center;
    padding-left: 18px;
}

header li {
    padding: 2px;
    margin: 4px;
    border-radius: 4px;
    border: 2px solid var(--tertiary-color)
}

header li:hover {
    border: 2px dashed var(--primary-color)
}

header nav {
    flex: 1;
}

.header-wrapper {
    background-image: url('../images/header-image.png');
    background-color: var(--background-color);
    background-size: auto;
    background-repeat: repeat-x;
}

/*Styling the Images*/
#arrow{
    position: fixed;
    top: 50%;
  }
#arrow2{
    position: fixed;
    top: 50%;
    right: 0%;
  }

#avatar{
    border: 5px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

/*Styling the about section*/
.about {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-color);
    
}
.about h2 {
    font-size: 36px;
    color: var(--tertiary-color);
    padding-bottom: 10px;
    text-shadow: 0 0 10px var(--secondary-color);
}

.about p {
    color: var(--tertiary-color);
    text-align: center;
    font-size: 18px;
    width: 80%;
}

/*Styling the Work section*/
.work {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.lead-project {
    display: grid;
    height: 100%;
    width: 80%;
}

.secondary-projects {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.secondary-project {
    padding: 2px;
    display: grid;
    height: 80%;
    width: 80%;
}

.project-image {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    border: 5px solid black;
}

.project-image:hover {
    border: 8px dashed white
}

.work h2{
    position: relative;
    color: var(--tertiary-color);
    padding-bottom: 10px;
    font-size: 36px;
    text-shadow: 0 0 10px var(--secondary-color);
}

.wrap-container {
    position: absolute;
    padding: 10px 15px;
    background-color: black;
}

.lead-project h3, .secondary-project h3{
    font-size: 18px;
    z-index: 2;
    position: relative;
}
.work p {
    z-index: 2;
    position: relative;
    font-size: 12px;
}

.contact {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
}

.contact h2 {
    font-size: 30px;
     color: var(--tertiary-color);

}

/*Styling the Footer*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

/*Media Queries*/

@media screen and (min-width:768px) {
    .secondary-project {
        height: 50%;
        width: 50%;
    }
}